body {
  background-color: #82c3ec;
}

h1 {
  color: #144272;
}

h3 {
  color: #144272;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: whitesmoke;
  border-width: 5px;
  width: 2.5%;
}
